// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

///Palette Green

$green-color: rgb(13, 71, 13);

//Palette Blue

$lime-color: rgb(99, 236, 19);

// light grey

$lightgrey-color: grey;

//dark grey

$darkgrey-color: rgb(54, 54, 54);
