.header{
    text-align:left;
    color: $green-color;
    background-color: white;
    padding: 1rem 4rem 0;
    display: flex;
    justify-content: space-between;

    &__list{
        padding: 1rem;
        text-align: right;
    }  
        a {
            color: $darkgrey-color;
        }
    #tlf{
        font-size: 1.1rem;
    }
}